<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Points of Interest Locator</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <a href="/">Search Again</a>
        <ul class="results">
          <li class="poi">
            <p>Results:</p>
            <% showTheCity.forEach(function(info){ %>
            <p>Place: <%= info.title %> </p>
            <img class="image" src="<%= info.contextual_images[0].medium.url %><" alt="">
            <p>Description: <%= info.details.short_description %> </p>
            <p>Location: <%= info.location.google_maps_link %> </p>

            <form class="save-favorites" action="/city" method="post">
              <input type="hidden" name="favorites[title]" value="<%= info.title %>">
              <input type="hidden" name="favorites[contextual_images[0].medium.url]" value="<%= info.contextual_images[0].medium.url %>">
              <input type="hidden" name="favorites[details].short_description" value="<%= info.details.short_description %>">
              <input type="hidden" name="favorites[location].google_maps_link" value="<%= info.location.google_maps_link %>">
              <input type="submit" value="Save">
            </form>
          </li>
        <% }) %>
      </ul>
    </div>
    <div class="container">
      <h3><%# showTheFavorites.length %> Favorites</h3>
      <ul class="favorites">
        <li class="poi">
        <%# Saved items are displayed below %>
        <% showTheFavorites.forEach(function(info) { %>
             <p><%= info.title %> </p>
             <p><%= info.details %></p>
             <p><%= info.location %></p>

        <form class="delete-favorites" action="/city/<%= info._id %>?_method=DELETE" method="post">
          <input type="submit" value="Delete">
        </form>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>
</html>
